# Dependencies
node_modules/
package-lock.json

# Environment variables and Tokens
.env
.env.local
.env.*.local
token.txt
*token*.txt

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & OS Files
.DS_Store
Thumbs.db

# Archives & Temporary Raw Assets
*.zip
.tempmediaStorage/
